<div class="row container">
    <app-menu class="col col-lg-2 border-right"  [initialObject]="p" [model]="model"></app-menu>
    <div class="col content-page">
        <h2>Añadir periodo</h2>
        <form (ngSubmit)="submit()" #addPeriodForm="ngForm" class="add" id="addForm">
            <app-period-inputs [model]="model"></app-period-inputs>
            <div class="row buttons-row">
                <input class="col col-lg-2" type="reset" value="Cancelar">
                <input class="col col-lg-2" type="submit" value="Guardar y continuar" class="submit" [disabled]="!addPeriodForm.valid">
            </div>
        </form>
    </div>
</div>