<div class="col span-1-of-3 box"></div>

<div class="col span-2-of-3 box">
    <h1>{{ period.name }}</h1>
    <ul><!-- TODO: ENLACES CON FOTO -->
        <li *ngFor="let c of cpus">
            <a [routerLink]="['/cpu', c.id]">{{c.name}}</a>
        </li>
    </ul>
    <h3>{{ 'PERIOD.CHARACTERISTICS' | translate}}:</h3>
    <ul>
        <li *ngFor="let d of period.details">{{d}}</li>
    </ul>
</div>

<div class="col span-3-of-3 box">
    <h3>{{ 'PERIOD.TRIVIA' | translate}}...</h3>
    <ul>
        <li *ngFor="let t of period.trivia">{{t}}</li>
    </ul>
    <ul><!-- TODO: SISTEMAS CON NOMBRE Y FOTO -->
        <li *ngFor="let s of period.famousSystems">{{s}}</li>
    </ul>
</div>