footer {
    position: absolute;
    background-color: #000;
    color: #fff;
    height: 5vh; 
    font-size: 80%;
    width: 100%;
    bottom: 0;
    padding: 12px;
}

.social-networks {
    float: right;
    list-style: none;
}

.social-networks li {
    display: inline-block;
    margin-right: 20px;
}

.social-networks li:last-child {
    margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #ccc;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited { font-size: 180%; }