<footer>
  <div class="row">
    <div class="col span-1-of-3">
      <ul class="social-networks">
        <li><a class="twitter" href="https://twitter.com/ComputingOviedo" title="{{'FOOTER.TWITTER' | translate}}"><ion-icon name="logo-twitter"></ion-icon></a> </li>
        <li><a class="facebook" href="https://www.facebook.com/computingOviedo/ " title="{{'FOOTER.FACEBOOK' | translate}}"><ion-icon name="logo-facebook"></ion-icon></a></li>
        <li><a class="linkedin"  href="https://www.linkedin.com/groups/3086665/" title="{{'FOOTER.LINKEDIN' | translate}}"><ion-icon name="logo-linkedin"></ion-icon></a> </li>
        <li><a class="youtube" href="http://www.youtube.com/user/ComputingOviedo" title="{{'FOOTER.YOUTUBE' | translate}}"><ion-icon name="logo-youtube"></ion-icon></a></li>
      </ul>
    </div>
  </div>
</footer>