<footer>
    <div class="row">
        <div class="col span-1-of-3">
        <ul class="social-networks">
            <li><a class="twitter" href="https://twitter.com/ComputingOviedo" title="Ir al Twitter de la escuela"><ion-icon name="logo-twitter"></ion-icon></a> </li>
            <li><a class="facebook" href="https://www.facebook.com/computingOviedo/ " title="Ir a la página de Facebook"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="https://www.linkedin.com/groups/3086665/" class="linkedin"><ion-icon name="logo-linkedin"></ion-icon></a> </li>
            <li><a href="http://www.youtube.com/user/ComputingOviedo" class="youtube"><ion-icon name="logo-youtube"></ion-icon></a></li>
        </ul>
        </div>
    </div>
</footer>
