<nav>
  <div class="row">
    <div class="col">
      <a class="img-link" routerLink="" title="{{ 'NAV.HOME' | translate}}"><img src="../assets/img/eii-logo.png" alt="{{ 'NAV.LOGO' | translate}}" class="logo"></a>
    </div>
    <ul class="main-nav">
      <li><a routerLink="/museum">{{ 'NAV.MUSEUM' | translate}}</a></li>
      <li><a routerLink="/about">{{ 'NAV.ABOUT' | translate}}</a></li>
      <li><input class="search-bar" type="text" placeholder="{{ 'NAV.SEARCH' | translate}}"></li>
      <select name="lang-select" #mySelect (change)="changeLanguage(mySelect.value)">
        <option [value]="lang" *ngFor="let lang of langs">{{lang | uppercase}}</option>
      </select>
    </ul>
  </div>
</nav>

