.container {
    margin: 0 auto;
    align-content: center;
    text-align: center;
}

.row {
    margin-top: 1%;
}

h2, h3 {
    text-align: center;
}

button {
    padding: 1%;
    margin-top: 5%;
}