<nav>
  <div class="row">
    <a routerLink="" title="{{ 'NAV.HOME' | translate}}"><img src="../assets/img/eii-logo.png" alt="{{ 'NAV.LOGO' | translate}}" class="logo"></a>
    <ul class="main-nav">
      <!--<li><a href="">{{ 'NAV.MUSEUM' | translate}}</a></li>
      <li><a href="">{{ 'NAV.ABOUT' | translate}}</a></li>-->
      <li><input class="search-bar" type="text" placeholder="{{ 'NAV.SEARCH' | translate}}"></li>
      <!-- PARA INTERNACIONALIZACIÓN <li><button class='btn-menu'><ion-icon name="ellipsis-vertical"></ion-icon></button></li>-->
    </ul>
  </div>
</nav>