<ul>
    <li><ion-icon name="hardware-chip-outline"></ion-icon> {{comp.ramMemory}} {{comp.ramMemoryUnits}}, {{comp.programMemory}} {{comp.programMemoryUnits}}</li>
    <li><ion-icon name="chevron-forward-circle"></ion-icon> {{comp.clockSpeed}} {{comp.clockSpeedUnits}} (Frecuencia)</li>
    <li><ion-icon name="flash-outline"></ion-icon> {{comp.power}} {{comp.powerUnits}}</li>
    <li>
    <ion-icon class="icon-big" *ngIf="isPortable()" name="phone-portrait"></ion-icon>
    <ion-icon class="icon-big" *ngIf="isDesktop()" name="desktop"></ion-icon>
    </li>
    <li><ion-icon name="chevron-forward-circle"></ion-icon> {{comp.transistors}} (Transistores)</li>
    <li><ion-icon name="cash-outline"></ion-icon> {{comp.price}}</li>
    <li><ion-icon name="timer-outline"></ion-icon> {{comp.passmark}}</li>
    <li>{{comp.wordSize}} {{comp.wordSizeUnits}}</li>
    <li>{{comp.transistorSize}} {{comp.transistorSizeUnits}}</li>
</ul>