ul {
  min-width: 400px;
}

ul li {
    list-style: none;
    padding-bottom: 2%;
    width: 700px;
  }
    
  ul ul {
    padding-left: 10%;
  }
  
  ul ul li::before {
    content: "\003e \00a0";
  }

  .transistor::before, .frequency::before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    background-size: cover;
    background-position: center;
    left: 0;
  }

  .transistor::before {
    background-image: url("../../assets/img/transistor.png");
    transform: translateX(17px);
  }

  .frequency::before {
    background-image: url("../../assets/img/frequency.png");
    transform: translateX(15px) translateY(5px);
  }

  .transistor, .frequency {
    margin-left: 23px;
  }