<ul *ngIf="comp">
    <li>
        <ion-icon name="hardware-chip-outline"></ion-icon>
        <span *ngIf="comp.ram_memory!=0">{{comp.ram_memory}} {{comp.ram_memory_units}}</span>
        <span *ngIf="comp.ram_memory!=0 && comp.program_memory!=0">,&nbsp;</span>
        <span *ngIf="comp.program_memory!=0">{{comp.program_memory}} {{comp.program_memory_units}} (ROM)</span>
    </li>
    <li *ngIf="comp.clockspeed!=0" class="frequency">{{comp.clockspeed}} {{comp.clockspeed_units}}</li>
    <li *ngIf="comp.cpu_power!=0"><ion-icon name="flash-outline"></ion-icon> {{comp.cpu_power}} {{comp.cpu_power_units}}</li>
    <li *ngIf="isPortable() || isDesktop()">Dispositivos:&nbsp;
        <ion-icon class="icon-big" *ngIf="isPortable()" name="phone-portrait"></ion-icon>
        <ion-icon class="icon-big" *ngIf="isDesktop()" name="desktop"></ion-icon>
    </li>
    <li *ngIf="comp.component_price!=0"><ion-icon name="cash-outline"></ion-icon> {{comp.component_price}}{{comp.component_price_units}}</li>
    <li *ngIf="comp.transistors!=0" class="transistor">{{comp.transistors}}</li>
    <li *ngIf="comp.passmark!=0"><ion-icon name="timer-outline"></ion-icon> {{comp.passmark}}</li>
    <li *ngIf="comp.wordsize!=0">Tamaño de palabra: {{comp.wordsize}} {{comp.wordsize_units}}</li>
    <li *ngIf="comp.transistor_size!=0">Densidad de transistores: {{comp.transistor_size}} {{comp.transistor_size_units}}</li>
</ul>