<div class="row container">
    <ul class="menu">
      <li class="prev"><a *ngIf="previousPeriod" [routerLink]="['/period', previousPeriod.period_id]"><ion-icon name="chevron-back-outline"></ion-icon>{{previousPeriod.period_name}}</a></li>
      <!-- <li><a routerLink="/museum">{{ 'MENU.BACK' | translate }}{{ 'MENU.TIMELINE' | translate}}</a></li> -->
      <li class="next"><a *ngIf="nextPeriod" [routerLink]="['/period', nextPeriod.period_id]">{{nextPeriod.period_name}}<ion-icon name="chevron-forward-outline"></ion-icon></a></li>
    </ul>

  <div class="row">
    <div class="row">
      <h1>{{ period.period_name }}</h1>
    </div>
    <div class="row">
      <div class="col first-col">
        <div class="row first-row">

          <div class="gallery">
            <div class="col img-container" *ngFor="let c of comps">
              <a class=" row img-link" [routerLink]="['/component', c.component_id]"><img src="{{imgUrl}}{{c.component_imgs[0]}}"
                  alt="{{c.component_name}}"></a>
              <a class="row name-link" [routerLink]="['/component', c.component_id]">{{c.component_name}}</a>
            </div>
          </div>
        </div>
        
        <div class="row second-row details">
          <h3>{{ 'PERIOD.CHARACTERISTICS' | translate }}:</h3>
          <ul>
            <li *ngFor="let d of period.period_details.split('\n')">{{d}}</li>
          </ul>
        </div>
      </div>
      <div class="col second-col">
        <div class="row first-row trivia">
          <h3>{{ 'PERIOD.TRIVIA' | translate }}...</h3>
          <ul>
            <li *ngFor="let t of period.period_trivia.split('\n')">{{t}}</li>
          </ul>
        </div>
        <div class="row second-row">
          <div class="systems">
            <div class="col img-container img-systems" *ngFor="let s of period.famousSystems">
              <h6 class="row">{{s.name}}</h6>
              <img class="row" src="{{imgUrl}}{{s.img}}">
              <p class="row name-link">{{s.sysName}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="events row">
        <li class="col" *ngFor="let e of period.period_events.split('\n')">{{e}}</li>
      </ul>
    </div>
  </div>
</div>