ul li {
  list-style: none;
  padding: 2%;
}
  
ul ul {
  padding-left: 10%;
}

ul ul li::before {
  content: "\003e \00a0";
}

.menu li {
  margin: 0 auto;
  padding: 0;
}
.menu li a{
  margin: 0 auto;
  padding: 0;
}.menu .next a {
  margin-right: 40px;
}

.events {
  margin-top: 10%;
}

.events li {
  min-width: 150px;
  background-color: bisque;
  margin-right: 5%;
  margin-bottom: 2%;
  border-left: rgb(141, 117, 89) solid 2px;
}


a:link, a:visited {
    padding: 8px 0;
    color: #39583d;
}

.gallery, .systems {
  max-width: 800px;
  position: relative;
  margin: auto;
  display: flex;
  float:left;
}

.systems {
  margin-top: -5%;
}

.img-container {
  max-width: 130px;
  position: relative;
  min-height: 120px;
  margin-right: 20px;
}

.img-systems {
  height: 250px;
  width: auto;
}

.img-systems h6 {
  width: 130px;
  text-align: center;
  margin-bottom: 10px;
}

.name-link {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.gallery {
  margin-top: 10%;
}

.gallery img, .systems img {
  width: 120px;
  height: auto;
}


.trivia, .details {
  background: linear-gradient(#505050, #949393);
  padding: 4%;
  padding-bottom: 1%;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  color: #fff;
}

.trivia h3, .details h3 {
  color: #00ff15;
}

.trivia ul li::before {
  content: "\003e \00a0";
}

.first-row {
  margin-bottom: 10%;
}

.first-col {
  margin-right: 6%;
}