<header>
  <nav>
    <div class="row">
      <img src="resources/img/eii-logo.png" alt="Museum logo" class="logo">
      <app-main-nav></app-main-nav>
    </div>
  </nav>
  <div class="home-text-box">
    <h1>Bienvenido al Museo de la Informática. </h1><br>
    <p>Escuela de Ingeniería Informática de Oviedo.</p>
  </div>
</header>
<div class="row"><a routerLink="/museum" routerLinkActive="active" class="btn btn-full btn-museum">Ver el museo</a></div>
<app-footer></app-footer>
<router-outlet></router-outlet>