ul li {
  list-style: none;
  padding: 2%;
}
  
ul ul {
  padding-left: 10%;
}

/* ul ul li::before,  */.actual::before {
  content: "\003e \00a0";
}

.actual {
  font-weight: bold;
}

a:link, a:visited {
  padding: 8px 0;
  color: #39583d;
}

.gallery {
  max-width: 600px;
  position: relative;
  margin: auto;
  margin-bottom: 20%;
  margin-top: 10%;
  display: flex;
  float:left;
  overflow-x: auto;
  padding-bottom: 20px;
}

.gallery img {
  height: 100px;
  width: auto;
  margin-right: 5px;
  border-radius: 5px;
  box-shadow: 1px 3px 0px 0px rgba(146, 146, 146, 0.137);
}
.gallery img:hover {
  cursor: pointer;
}

h2 {
  margin-top: 2%;
}

.first-row {
  margin-top: 2%;
}

.first-col {
  margin-right: 10%;
}

.description {
  background: linear-gradient(#adadad, #d1d1d1);
  padding: 4%;
  padding-bottom: 1%;
  box-shadow: 5px 5px 7px rgba(95, 95, 95, 0.7);
  color: #000;
}

.icon-big{
  font-size: 2em;
}