<div class="row container" *ngIf="period">
  <div class="col col-lg-2 border-right">
    <ul>
      <!-- <li><a routerLink="/museum">{{ 'MENU.BACK' | translate }}{{ 'MENU.TIMELINE' | translate}}</a></li> -->
      <li *ngIf="previousPeriod"><a [routerLink]="['/period', previousPeriod.period_id]"><ion-icon name="chevron-back-outline"></ion-icon>{{previousPeriod.period_name}}</a></li>
      <li class="actual"><a [routerLink]="['/period', period.period_id]">{{period.period_name}}</a></li>
      <ul>
        <li *ngFor="let c of compsFromPeriod"><a [routerLink]="['/component', c.component_id]" >{{c.component_name}}</a></li>
      </ul>
      <li *ngIf="nextPeriod"><a [routerLink]="['/period', nextPeriod.period_id]">{{nextPeriod.period_name}}<ion-icon name="chevron-forward-outline"></ion-icon></a></li>
    </ul>
  </div>
  <div class="col">
    <div class="row">
      <h2>{{comp.component_name}}</h2>
    </div>
    <div class="row">
      <div class="col first-col">
        <div class="row first-row">
          <div class="gallery">
            <div class="img-container" *ngFor="let i of comp.component_imgs">
              <img src="{{imgUrl}}{{i}}" alt="{{comp.component_name}}" (click)="showGallery(index)">
            </div>
          </div>
        </div>
        <div class="row second-row description">
          <p>{{ comp.component_description }}</p>
        </div>
      </div>
      <div class="col second-col">
        <div class="row first-row">
          <h4>{{ comp.component_year_init }} - {{ comp.component_year_end }}</h4>
        </div>
        <div class="row second-row">
          <ul [hidden]="type==='CPU'">
            <li>
              <ion-icon class="icon-big" *ngIf="isPortable()" name="phone-portrait"></ion-icon>
              <ion-icon class="icon-big" *ngIf="isDesktop()" name="desktop"></ion-icon>
            </li>
            <li><ion-icon name="cash-outline"></ion-icon> {{comp.component_price}}{{comp.component_price_units}}</li>
          </ul>
          <app-cpu-details [hidden]="type!=='CPU'" [comp]="comp"></app-cpu-details>
        </div>
      </div>
    </div>
  </div>
</div>