<div class="row container">
    <div class="col col-lg-2 border-right">
        <p>{{ 'MENU.FILTERS' | translate }}</p>
        <div class="row">
            <select>
                <option>Example 1</option>
            </select>
            <select>
                <option>Example 2</option>
            </select>
        </div>
    </div>
    <div class="col">
        <ul>
            <li *ngFor="let p of periods">
                <div><a [routerLink]="['/period', p.id]">{{ p.name }}</a></div>
            </li>
        </ul>
    </div>
</div>