li {
    list-style: none;
}

.systems {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
    max-width: 800px;
    position: relative;
    display: flex;
  }

  .img-systems {
    max-width: 130px;
    position: relative;
    min-height: 210px;
  }

  .name-link {
    position: absolute;
    bottom: 0;
  }

  .systems img {
    width: 120px;
    height: auto;
  }

  .mat-elevation-z8 {
    margin-top: 1.5%;
  }