<div class="row container">
    <app-menu class="col col-lg-2 border-right"></app-menu>
    <div class="col">
        <h2>Editar componente</h2>
        <form (ngSubmit)="submit()" #editCompForm="ngForm" class="edit" id="editCForm">
            <div class="row form-row">
                <label class="col col-lg-5" for="pselect">Seleccione el periodo al que pertenece: </label>
                <select class="col form-control" name="period-select" id="pselect" #periodSelect (change)="changePeriod(periodSelect.value)">
                    <option [value]="p.name" *ngFor="let p of periods">{{ p.name }}</option>
                </select>
            </div>
            <div class="row form-row">
                <label class="col col-lg-5" for="cselect">Seleccione el componente que desea editar: </label>
                <select class="col form-control" name="comp-select" id="cselect" #compSelect (change)="changeComp(compSelect.value)">
                    <option [value]="c.name" *ngFor="let c of comps">{{ c.name }}</option>
                </select>
            </div>
            <app-comp-inputs [model]="model"></app-comp-inputs>
            
            <div class="row buttons-row">
                <input class="col col-lg-2" type="button" value="Cancelar" (click)="resetForm()">
                <input class="col col-lg-2" type="submit" value="Guardar" class="submit" [disabled]="!editCompForm.valid">
            </div>
        </form>
    </div>
</div>