p {
    text-align: justify;
}

.gallery {
  max-width: 600px;
  position: relative;
  margin: auto;
  display: flex;
  float:left;
  overflow-x: auto;
  padding-bottom: 20px;
}

.gallery img {
  height: 100px;
  width: auto;
  margin-right: 5px;
}

.row {
  margin-left: 0;
}

.lightbox-div {
  opacity: 0.3;
}

.lightbox-div img.show {
  opacity: 1;
}