@import '~normalize.css';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
  }

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300; 
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix { zoom: 1; }

.clearfix::after { 
  content: '-';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*--------REUSABLE COMPONENTS--------*/

.row {
	max-width: 2000px;
	margin: 0 auto;
  margin-top: 1%;
}

.container {
  padding-top: 2%;
  padding-bottom: 10%;
  margin: 1% auto 1% 0;
  align-content: center;
  text-align: center;
}

.content-page {
  text-align: left;
}

.content-page h2 {
  text-align: center;
  margin-bottom: 3%;
}

@media (min-width: 1800px) {
.content-page {
  margin-left: 15%;
  margin-right: 5%;
  -webkit-transform: translate(-10%, 0%);
      -ms-transform: translate(-10%, 0%);
          transform: translate(-10%, 0%);
}}

section { padding: 80px 0; }
  
.box { padding: 1%; }


label p {
  font-size: medium;
}

.mat-table {
  width: 100%;
  color: #555;
  background-color: white;
}

.mat-column-nombre, .mat-column-editar, .mat-column-eliminar {
  font-size: 1.1em;
  color: #555;
}

.mat-column-editar, .mat-column-eliminar, .mat-header-row .mat-column-eliminar, .mat-header-row .mat-column-editar {
  text-align: right;
  justify-content: flex-end;
}

.mat-header-cell, .mat-row .mat-cell {
  color: #555;
  cursor: pointer;
}

th.mat-header-cell {
  border-bottom: 1px solid rgb(194, 194, 194);
}

.icon-btn {
  border: none;
  background-color: transparent;
}

a:link, a:visited {
  padding: 8px 0;
  color: #39583d;
}

.button-link {
  background: none;
  border: none;
  color: #555;
}

/*------FORMS---------*/

.buttons-row input {
  padding: 1%;
  margin: 2%;
  min-width: 200px;
}

h2, h3 {
  margin: 0% auto 2% auto;
}

select, input {
  margin-right: 5%;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

textarea.form-control {
  min-height: 150px;
}


ion-icon {
  pointer-events: none;
  color: #555;
  width: 1.5em;
  font-size: x-large;
}

.upload {
  font-weight: 400;
  border: #000 1px solid;
  border-radius: 5%;
  padding: 0px 7px 0px;
  background-color: #efefef;
}

.upload:hover {
  cursor: pointer;
}

.rm-img-btn {
  position: relative;
}

.rm-img-btn button {
  border: none;
  background: none;
}

.rm-img-btn div{
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 3em;
  background: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
}

.rm-img-btn:hover {
  cursor: pointer;
}

.rm-img-btn:hover div{
  visibility: visible;
  opacity: 0.7; 
}