<div class="row form-row">
    <label class="col col-lg-2" for="cname">Nombre:</label>
    <div class="col">
        <input class="form-control" type="text" id="cname" name="name" placeholder="Nombre" required [(ngModel)]="model.component_name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Complete este campo</div>
    </div>
</div>        
<div class="row form-row">
    <label class="col col-lg-2" for="cdesc">Descripción:</label>
    <div class="col">
        <textarea class="form-control" type="text" id="cdesc" required [(ngModel)]="model.component_description" name="description" #description="ngModel" placeholder="Descripción"></textarea>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">Complete este campo</div>
    </div>
</div>
<div class="row form-row">
    <label class="col col-lg-2" for="cfamily">Familia:</label>
    <div class="col">
        <input class="form-control" type="text" id="cfamily" required [(ngModel)]="model.component_family" name="family" #family="ngModel" placeholder="Familia">
        <div [hidden]="family.valid || family.pristine" class="alert alert-danger">Complete este campo</div>
    </div>
</div>
<div class="row form-row row3">
    <label class="col col-lg-2" for="cinityear">Año de salida:</label>
    <div class="col">
        <input class="form-control" type="number" min="1970" id="cinityear" required [(ngModel)]="model.component_year_init" name="initYear" #initYear="ngModel" value="1990">
        <div [hidden]="initYear.valid || initYear.pristine" class="alert alert-danger">Complete este campo</div>
    </div>
    <label class="col col-lg-2" for="cendyear">Año de fin:</label>
    <div class="col">
        <input class="form-control" type="number" min="1970" id="cendyear" required [(ngModel)]="model.component_year_end" name="endYear" #endYear="ngModel" value="2000">
        <div [hidden]="endYear.valid || endYear.pristine" class="alert alert-danger">Complete este campo</div>
    </div>
<!-- </div>
<div class="row form-row"> -->
    <label class="col col-lg-2" for="cprice">Precio:</label>
    <div class="col">
        <input class="form-control" type="number" step="1.00" id="cprice" required [(ngModel)]="model.component_price" name="price" #price="ngModel" value="90.00">
        <div [hidden]="price.valid || price.pristine" class="alert alert-danger">Complete este campo</div>
    </div>
    <select class="col form-control" name="price-select" #priceSelect (change)="changePriceUnits(priceSelect.value)">
        <option [value]="u" *ngFor="let u of priceUnits">{{u}}</option>
    </select>
</div>
<div class="row form-row">
    <label class="col col-lg-3">Utilizado en dispositivos:</label>
    <label class="col col-lg-2" for="checkDev1"><input #checkPort type="checkbox" id="checkDev1" [checked]="isPortable()" (change)="onChange(checkPort.checked,checkDesk.checked)"> Portátiles</label>
    <label class="col col-lg-2" for="checkDev2"><input #checkDesk type="checkbox" id="checkDev2" [checked]="isDesktop()" (change)="onChange(checkPort.checked,checkDesk.checked)"> De escritorio</label>
</div>
<!--<input type="button" (click)="changeAddSys()" value="{{textAddFamousSys}}">-->
<div class="row form-row"><!--<div class="row form-row" [hidden]="!addFamousSys">-->
    <label class="col col-lg-3" for="csystem">Sistema famoso que lo utiliza:</label>
    <input class="col col-lg-3 form-control" type="text" id="csystem" placeholder="Nombre del sistema" [(ngModel)]="model.famous_system" name="famousSystem" #famousSystem="ngModel">
    <input class="col file" type="file" id="csystemimg">
</div>