input, label {
    margin-left: 0px;
}

select {
    margin-right: 0px;
}

div.row3 label:not(:first-child) {
    text-align: right;
}

input.file {
    margin-right: 0%;
}

input[type=checkbox] {
    align-content: left;
}

.img-list {
    list-style: none;
}

.info {
    font-size: small;
}