<div class="row container">
    <app-menu class="col col-lg-2 border-right"></app-menu>
    <div class="col">
        <h2>Añadir periodo</h2>
        <form (ngSubmit)="submit()" #addPeriodForm="ngForm" class="add" method="post" id="addForm">
            <div class="row form-row">
                <label class="col col-lg-2" for="pname">Nombre:</label>
                <div class="col">
                    <input class="form-control" type="text" id="pname" required [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="Nombre">
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Complete este campo</div>
                </div>
            </div>        
            
            <div class="row form-row">
                <label class="col col-lg-2" for="pdesc">Detalles:</label>
                <div class="col">
                    <textarea class="form-control" type="text" id="pdesc" required [(ngModel)]="model.details" name="details" #details="ngModel" form="addForm" placeholder="Detalles"></textarea>
                    <div [hidden]="details.valid || details.pristine" class="alert alert-danger">Complete este campo</div>
                </div>
            </div>
            <div class="row form-row">
                <label class="col col-lg-2" for="ptrivia">Sabías que... <p>Introduzca cada característica en una línea</p></label>
                <div class="col">
                    <textarea class="form-control" type="text" id="ptrivia" required [(ngModel)]="model.trivia" name="trivia" #trivia="ngModel" form="addForm" placeholder="Sabías que..."></textarea>
                    <div [hidden]="trivia.valid || trivia.pristine" class="alert alert-danger">Complete este campo</div>
                </div>
            </div>
            <div class="row form-row">
                <label class="col col-lg-2" for="pevents">Eventos: <p>Introduzca cada evento en una línea</p></label>
                <div class="col">
                    <textarea class="col form-control" type="text" id="pevents" required [(ngModel)]="model.events" name="events" #events="ngModel" form="addForm" placeholder="Eventos"></textarea>
                    <div [hidden]="events.valid || events.pristine" class="alert alert-danger">Complete este campo</div>
                </div>                
            </div>
            <div class="row buttons-row">
                <input class="col col-lg-2" type="reset" value="Cancelar">
                <input class="col col-lg-2" type="submit" value="Guardar y continuar" class="submit" [disabled]="!addPeriodForm.valid">
            </div>
        </form>
    </div>
</div>