<p class="row">Memoria ROM: {{comp.programMemory}} {{comp.programMemoryUnits}}</p>
<p class="row">Memoria RAM: {{comp.ramMemory}} {{comp.ramMemoryUnits}}</p>
<p class="row">Frecuencia de reloj: {{comp.clockSpeed}} {{comp.clockSpeedUnits}}</p>
<p class="row">Consumo energético: {{comp.power}} {{comp.powerUnits}}</p>
<p class="row">Tamaño de palabra: {{comp.wordSize}} {{comp.wordSizeUnits}}</p>
<p class="row">Nanómetros de los transistores: {{comp.transistorSize}}</p>
<p class="row">Passmark: {{comp.passmark}}</p>
<p class="row">Número de transistores: {{comp.transistors}}</p>