<div class="row">
    <div class="col">
        <h5 class="row">Memoria ROM</h5><p class="row">{{comp.program_memory}} {{comp.program_memory_units}}</p>
        <h5 class="row">Memoria RAM</h5><p class="row">{{comp.ram_memory}} {{comp.ram_memory_units}}</p>
        <h5 class="row">Frecuencia de reloj</h5><p class="row">{{comp.clockspeed}} {{comp.clockspeed_units}}</p>
        <h5 class="row">Consumo energético</h5><p class="row">{{comp.cpu_power}} {{comp.cpu_power_units}}</p>
    </div>
    <div class="col">
        <h5 class="row">Tamaño de palabra</h5><p class="row">{{comp.wordsize}} {{comp.wordsize_units}}</p>
        <h5 class="row">Nanómetros de los transistores</h5><p class="row">{{comp.transistor_size}}</p>
        <h5 class="row">Passmark</h5><p class="row">{{comp.passmark}}</p>
        <h5 class="row">Número de transistores</h5><p class="row">{{comp.transistors}}</p>
    </div>
</div>
