<div class="row container">
    <app-menu class="col col-lg-2 border-right" [initialObject]="c" [model]="model"></app-menu>
    <div class="col content-page">
        <h2>Añadir componente</h2>
        <form (ngSubmit)="submit()" #addCompForm="ngForm" class="add" id="addCForm">
            <div class="row form-row">
                <label class="col col-lg-4" for="pselect">Seleccione el periodo al que pertenece: </label>
                <select *ngIf="loaded" class="col form-control" name="period-select" id="pselect" #periodSelect (change)="changePeriod(periodSelect.value)">
                    <option [value]="p.period_name" *ngFor="let p of periods">{{ p.period_name }}</option>
                </select>
                <label class="col col-lg-1" for="ctype">Tipo:</label>
                <select class="col form-control" name="type-select" id="ctype" #typeSelect (change)="changeType(typeSelect.value)">
                    <option [value]="t" *ngFor="let t of types">{{ t }}</option>
                </select>
            </div>
            <app-comp-inputs [model]="model" [images]="images" [imagesNames]="imagesNames" [compImgsInDB]="[]"></app-comp-inputs>
            <app-cpu-type-form [hidden]="t!=='CPU'" [model]="model"></app-cpu-type-form>
            <div class="row buttons-row">
                <input class="col col-lg-2" type="button" value="Cancelar" (click)="resetForm()">
                <input class="col col-lg-2" type="submit" value="Guardar" class="submit" [disabled]="!addCompForm.valid">
            </div>
        </form>
    </div>
</div>